## Ignore build results
bin/
obj/
*.exe
*.dll
*.app
*.log

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / VSCode
.idea/
.vscode/

## ASP.NET publish folder
wwwroot/

## Ngnix
nginx/

## CertBot
certbot

## Docker
docker-compose.override.yml

## Secrets
secrets.json

## Delicate Shels
init-letsencrypt.sh

## NuGet
*.nupkg
*.snupkg
.nuget/

## Others
*.DS_Store
Thumbs.db
